* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f9f9f9;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 180px; /* Adjust width */
    height: auto;  /* Automatically scale height based on width */
    margin-right: 30px;
    /* Removed border-radius for rectangle shape */
}

.profile-details {
    flex-grow: 1;
}

.profile-details h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.profile-details p {
    font-size: 1.2em;
    color: #666;
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    display: inline-block;
    margin-right: 15px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.social-icons a img {
    width: 30px;
    vertical-align: middle;
    margin-right: 5px;
}

.download-links {
    margin-top: 20px;
}

.download-links .badge {
    display: inline-block;
    padding: 10px 15px;
    background-color: #0077b5;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: bold;
}

.download-links .badge:hover {
    background-color: #005f94;
}

section {
    padding: 4px 0;
}


section h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.experience-details h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.experience-details ul {
    margin-top: 10px;
}

.date-right {
    float: right;
    font-size: 0.9em;
    color: #999;
}

footer {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

footer a {
    color: #0077b5;
    text-decoration: none;
}


.toggle-icon {
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 10px;
    color: rgb(246, 90, 12);
}

.toggle-icon:hover {
    color: #730808;
}

.indented-list {
    padding-left: 30px;  /* Indents the entire list */
    /* Alternatively, you can use margin-left */
    /* margin-left: 30px; */
}


.indented-list-long {
    padding-left: 60px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
}

.column {
    flex: 0 0 45%; /* Adjust the width of each column */
    box-sizing: border-box;
    padding: 10px;
}

/* Move the Education section further to the right */
.column:nth-child(1) {
    margin-left: 5%; /* This will push the first column (Education) further to the right */
}
