@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Roboto&display=swap');

.bio {
    font-weight: 7000;
    line-height: 2;
    flex-wrap: nowrap;
    color: rgb(0, 0, 0);
    padding-top: 1vh;
    font-family: SansSerif;
    font-size: 18px; /* Increased font size */
}
